<div class="form-container">
  <app-error-message
    [technicalError]="error"
    [customErrorMessage]="'Внутренняя ошибка сервера'"
    *ngIf="error"
  ></app-error-message>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="main-info-container">
      <div class="form-group">
        <label for="firstName">Имя</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          size="40"
          minlength="2"
          maxlength="40"
          required
          [ngModel]="formData?.firstName"
          (ngModelChange)="(null)"
          name="firstName"
          #name="ngModel"
        />
        <span class="validation-message" *ngIf="!name.valid && name.touched">
          Введите от 2 до 40 символов для обозначения имени работниа
        </span>
      </div>
      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          size="40"
          minlength="2"
          maxlength="40"
          required
          [ngModel]="formData?.lastName"
          (ngModelChange)="(null)"
          name="lastName"
          #lastName="ngModel"
        />
        <span
          class="validation-message"
          *ngIf="!lastName.valid && lastName.touched"
          >Введите от 2 до 40 символов для обозначения фамилии работниа</span
        >
      </div>
      <div class="form-group">
        <label for="patronymic">Отчество</label>
        <input
          type="text"
          id="patronymic"
          class="form-control"
          size="40"
          required
          minlength="2"
          maxlength="40"
          [ngModel]="formData?.patronymic"
          (ngModelChange)="(null)"
          name="patronymic"
          #patronymic="ngModel"
        />
        <div
          class="validation-message"
          *ngIf="!patronymic.valid && patronymic.touched"
        >
          Введите от 2 до 40 символов для обозначения фамилии работниа
        </div>
      </div>
      <div class="form-group">
        <label for="birthDate">Дата рождения</label>
        <input
          type="date"
          id="DOB"
          class="form-control"
          [ngModel]="formData?.DOB"
          (ngModelChange)="(null)"
          name="DOB"
          [max]="today"
          required
          #DOB="ngModel"
        />
        <span class="validation-message" *ngIf="!DOB.valid && DOB.touched"
          >Введите дату рождения</span
        >
      </div>
    </div>
    <div class="submit-form-group">
      <div class="submit-container">
        <button
          type="submit"
          id="submit-button"
          [disabled]="f.invalid"
          [ngClass]="{ 'disabled-button': f.invalid }"
        ></button>
        <p>Сохранить</p>
      </div>
    </div>
  </form>
</div>
