<div class="form-container">
  <app-error-message
    [technicalError]="error"
    [customErrorMessage]="'Внутренняя ошибка сервера'"
    *ngIf="error"
  ></app-error-message>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="main-info-container">
      <div class="form-group">
        <label for="productName">Обозначение продукта</label>
        <input
          type="text"
          class="form-control"
          name="productName"
          size="40"
          minlength="2"
          maxlength="40"
          required
          [ngModel]="product?.productName"
          (ngModelChange)="(null)"
          #name="ngModel"
        />
        <span class="validation-message" *ngIf="!name.valid && name.touched"
          >Введите от 2 до 40 символов для обозначения продукта</span
        >
      </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <textarea
          type="text"
          class="form-control"
          name="description"
          rows="3"
          cols="30"
          minlength="2"
          maxlength="60"
          required
          [ngModel]="product?.description"
          (ngModelChange)="(null)"
          #description="ngModel"
        ></textarea>
        <span
          class="validation-message"
          *ngIf="!description.valid && description.touched"
          >Введите от 2 до 60 символов для описания продукта</span
        >
      </div>
      <div class="form-group">
        <label for="sender">Отправитель</label>
        <input
          type="text"
          class="form-control"
          name="sender"
          size="40"
          minlength="2"
          maxlength="40"
          required
          [ngModel]="product?.sender"
          (ngModelChange)="(null)"
          #sender="ngModel"
        />
        <span class="validation-message" *ngIf="!sender.valid && sender.touched"
          >Введите от 2 до 40 символов для обозначения отправителя</span
        >
      </div>
      <div class="form-group">
        <label for="receiver">Получатель</label>
        <input
          type="text"
          id="receiver"
          class="form-control"
          name="receiver"
          size="40"
          minlength="2"
          maxlength="40"
          required
          [ngModel]="product?.receiver"
          (ngModelChange)="(null)"
          #receiver="ngModel"
        />
        <span
          class="validation-message"
          *ngIf="!receiver.valid && receiver.touched"
          >Введите от 2 до 40 символов для обозначения получателя</span
        >
      </div>
    </div>
    <div class="detail-info-container">
      <div class="parameters-input-group">
        <div class="form-group">
          <label for="weight">Вес</label>
          <input
            type="number"
            id="weight"
            class="form-control"
            step="0.1"
            min="0.1"
            max="1000"
            required
            appInputMinMaxNumberValidator
            [minVal]="0.1"
            [maxVal]="1000"
            [ngModel]="product?.weight"
            (ngModelChange)="(null)"
            name="weight"
            #weight="ngModel"
          />
          <span
            class="validation-message"
            *ngIf="
              !weight.valid && weight.touched && weight.errors?.invalidNumber
            "
            >Введите число от 0.1 до 1000 для обозначения веса
          </span>
        </div>
        <div class="form-group">
          <label for="volume">Объем</label>
          <input
            type="number"
            class="form-control"
            step="0.1"
            min="0.1"
            max="2"
            required
            appInputMinMaxNumberValidator
            [minVal]="0.1"
            [maxVal]="2"
            [ngModel]="product?.volume"
            (ngModelChange)="(null)"
            name="volume"
            #volume="ngModel"
          />
          <span
            class="validation-message"
            *ngIf="
              !volume.valid && volume.touched && volume.errors?.invalidNumber
            "
            >Введите число от 0.1 до 2 для обозначения объема</span
          >
        </div>
      </div>
      <div class="date-input-group">
        <div class="form-group">
          <label for="receiptDate">Дата поступления</label>
          <input
            type="date"
            class="form-control"
            [ngModel]="product?.receiptDate"
            (ngModelChange)="(null)"
            [min]="today"
            required
            name="receiptDate"
            #receiptDate="ngModel"
          />
          <span
            class="validation-message"
            *ngIf="
              !receiptDate.valid &&
              receiptDate.touched &&
              receiptDate.errors?.invalidDate
            "
            >Введите дату поступления</span
          >
        </div>
        <div class="form-group">
          <label for="scheduledShipmentDate">Плановая дата отправления</label>
          <input
            type="date"
            id="date-of-shipment"
            class="form-control"
            [ngModel]="product?.scheduledShipmentDate"
            (ngModelChange)="(null)"
            [min]="today"
            required
            name="scheduledShipmentDate"
            #scheduledShipmentDate="ngModel"
          />
          <span
            class="validation-message"
            *ngIf="
              !scheduledShipmentDate.valid && scheduledShipmentDate.touched
            "
            >Введите плановую дату отправления</span
          >
        </div>
      </div>
    </div>
    <div class="submit-form-group">
      <div class="submit-container">
        <button
          type="submit"
          id="submit-button"
          [disabled]="f.invalid"
          [ngClass]="{ 'disabled-button': f.invalid }"
        ></button>
        <p>Сохранить</p>
      </div>
      <p *ngIf="invNumber" id="inv-number">INV: {{ invNumber }}</p>
    </div>
  </form>
</div>
