registration-container {
  display: grid;
}

.form-container {
  margin-left: 17px;
}

.main-info-container input {
  /* width: 453px; */
  height: 25px;
  font-size: 1em;
}

.parameters-input-group input {
  width: 70px;
  height: 25px;
  font-size: 1em;
}

textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.date-input-group input {
  width: 130px;
  height: 25px;
  font-size: 1em;
}
.date-input-group {
  margin-left: 20px;
}

.detail-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.submit-container {
  padding-top: 40px;
}

.validation-message {
  display: table-cell;
  color: rgb(97, 2, 2);
}

.form-group label {
  display: table-cell;
  padding-top: 15px;
}

#submit-button {
  background-image: url("src/resources/validSubmitionIconImg.png");
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#submit-button.disabled-button {
  background-image: url("src/resources/saveImg.png");
  background-color: #cab3b3;
  border-radius: 5px;
  cursor: not-allowed;
}

.submit-container {
  display: flex;
  align-items: center;
}

#inv-number {
  font-size: 1.2em;
  text-align: center;
  /* margin-left: 30%; */
  margin: 0 auto;
}

.submit-form-group {
  display: flex;
  width: 100%;
  align-items: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
